---
- include_tasks: ssh.yml
- include_tasks: pkg.yml
- include_tasks: config.yml
- include_tasks: docker.yml
- include_tasks: golang.yml
- include_tasks: security.yml
- include_tasks: yubikey.yml
- include_tasks: rpi.yml
  when: "ansible_architecture == 'aarch64'"
- include_tasks: nosystemd.yml
