---
- name: Modify /boot/firmware/cmdline.txt
  replace:
    path: /boot/firmware/cmdline.txt
    regexp: '^([\w](?!.*\b{{ item }}\b).*)$'
    replace: '\1 {{ item }}'
  with_items:
    - "cgroup_enable=memory swapaccount=1"

- name: Install RPi software
  apt:
    name:
      - libraspberrypi-bin
    state: present
  when: "ansible_distribution == 'Ubuntu'"

- name: Disable passwordless sudo for pi user
  file:
    path: /etc/sudoers.d/010_pi-nopasswd
    state: absent
